.App {
  text-align: center;
}

img {
  max-width: 80%;
}

nav {
  background: #00897B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-link {
  color: white;
}

form {
  padding: 25px;
  margin: 6% 6%;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}

.button {
  background: #00897B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  border: none;
  padding: 5px 15px;
  color: #fff;
}
