body {
  /* background-color: #80CBC4; */
  /* background: linear-gradient(173.29deg, #344756 11.69%, #31737B 44.23%, #53B57C 79.44%, #99F466 96.86%); */
  background: linear-gradient(173.29deg, #81FBB8 0%, #28C76F 96.86%);
  min-height:100vh;
  background-size: contain;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  padding: 0;
}
